@use "../../styles/_variables" as *
.card
    aspect-ratio: 1 / 1
    overflow: hidden
    background: $color-black
    position: relative
    border-radius: $radius-3
    .card_img
        height: 100%
        img
            +img_contain
            pointer-events: none
    .card_name
        backdrop-filter: blur(10px)
        width: 100%
        position: absolute
        bottom: 0
        left: 0
        right: 0
        padding: 1em
        color: $color-white
        background: rgba($color-white, 0.2)
        text-align: center

