.hero
    background: #0008 no-repeat center center / cover
    background-blend-mode: darken
    height: 100vh
    .wrap
        height: 100%
        +flex(center, center, column)
        gap: 1em
        .title
            font-weight: 200
            letter-spacing: 30px
            font-size: 150px
            color: $color-white
            text-align: center
            text-transform: uppercase
            font-family: $font-family-2
