.main
    padding: 100px 0
    background: #222
    .wrap
        .grid
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            gap: 32px
            