=flex($jc = start, $ai = stretch, $fxd = row)
    display: flex
    justify-content: $jc
    align-items: $ai
    flex-direction: $fxd

=img-cover
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    
=img-contain
    width: 100%
    height: 100%
    object-fit: contain
    object-position: center